# Hidden files
.DS_Store

# Folders
data
casr
climex
trash
results
data_processing
maps
ams
outputGraphs
images
plots

# File types
*.gif
*.csv
*.png

# Notebooks
CasR.ipynb
climex.ipynb
gev.ipynb

# Files
example.jl
correlation.jl